// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
//@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$black: black;
$white: white;
$gray: #b2b2b2;
$active: #ffeaa6;

$link: $black;
$link-hover: #292929;

$br: 8px;
$border: 1px solid $gray;
$indents: 24px;
$indents-sm: 12px;
$indents-xsm: 8px;
$shadow: 0 0 7px 2px rgba(0,0,0,0.2);
$shadow-2: 0 10px 10px 1px rgba(128, 128, 128, 0.5);
$shadow-3: 0 0 15px 4px rgba(0,0,0,0.2);

$animation-type: ease-in-out;
$animation-duration: 0.2s;
$transition: $animation-duration $animation-type;

@import "breakpoints";
@import "global";
@import "fonts";
@import "Btn/Btn";
@import "Input/Input";
@import "Header/Header";
@import "Footer/Footer";
@import "Catalog/Catalog";
@import "Cards/Product-card";
@import "Banner/Banner";
@import "Advantages/Advantages";
@import "MyModal/MyModal";
@import "Blink/Blink";
