html {
    overflow-x: hidden;
}
* {
    box-sizing: border-box;
}
.container {
    max-width: 1390px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: $indents;
    padding-right: $indents;
}
@media (min-width: 575.98px){
    .container {
        max-width: 540px;
        margin-right: auto;
        margin-left: auto;
        padding-left: $indents-sm;
        padding-right: $indents-sm;
    }
}

@media (min-width: 767.98px){
    .container {
        max-width: 720px;
    }
}

@media (min-width: 991.98px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1199.98px){
    .container {
        max-width: 1140px;
    }
}

body, html {
    width: 100%;
    height: 100%;
    font-family: Gill Sans, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
}

main {
    margin-bottom: 48px;
    section {
        &:not(:last-child) {
            margin-bottom: $indents;
        }
    }
}

h1 {
    text-align: center;
    margin-top: 3%;
    font-weight: normal;
}
.question {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    font-size: 30px;
    text-align: center;
    width: 50%;
}

.input-type-submit {
    background-color: inherit;
    border: 0;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.2);
    cursor: pointer;
}

.a-popup-back {
    margin-left: 90%;
    border-radius: 10px;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.2);
    background-color: inherit;
    width: 200px;
    padding: 15px;
}

.popup-text-input {
    padding: 10px;
    border: 0;
    border-bottom: 1px solid black;
    background-color: inherit;
}
.popup-text-input3 {
    margin-top: 20px;
    height: 80px;
    line-height: 50px;
    padding: 0px 10px 40px 10px;
}
.b-popup{
    width:100%;
    min-height:100%;
    left: 0;
    display: block;
    position: fixed;
    top: 0;
    background-color: rgba(71, 71, 71, 0.5);
    display: none;
}
.b-popup-content a, .toOrder a {
    text-decoration: none;
    color: black;
}
.b-popup-content{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width:50%;
    height: 500px;
    padding-top: 2%;
    background-color: #ffffff;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}
.form-toOrder input {
    width: 60%;
}
.form-toOrder {
    width: 60%;
    margin: 7% auto auto;
    text-align: center;
    font-weight: bold;
}

.form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-bottom: 3%;
}
.form-center {
    text-align: center;

}
