.product-card {
    padding-bottom: $indents;
    &:not(:last-child) {
        border-bottom: $border;
    }
    &__img {
        height: 190px;
        position: relative;

        img {
            display: block;
            object-fit: cover;
            height: 100%;
        }

        &_actions {
            display: flex;
            justify-content: space-between;
            position: absolute;
            top: 6px;
            right: 6px;
            left: 6px;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: $indents-sm;
    }

    &__name {
        vertical-align: top;
        display: inline-block;
    }

    &__description {
        resize: vertical;
    }

    &__actions {
        display: flex;
        flex-direction: column;
    }

    &__change {
        position: relative;
        &-list {
            position: absolute;
            top: 50px;
            left: 0;
            width: 285px;
            display: flex;
            flex-wrap: wrap;
            gap: $indents-xsm;
            padding: $indents-sm;
            background-color: $white;
            border-radius: $br;
            box-shadow: $shadow;
            z-index: 1;
            max-height: 400px;
            overflow: auto;
            li {
                width: calc(33.333% - 6px);
                &:hover {
                    border: $border;
                    cursor: pointer;
                }
            }
        }
    }

    &__btn {
        margin-top: auto;
        margin-left: auto;
        max-width: 155px;
    }

    &__price {
        text-align: right;
    }
}
@include md {
    .product-card {
        padding-bottom: $indents-sm;
        &__img {
            height: 80px;
        }
    }
}
